
@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --background: #ffffff;
  --foreground: #c6a3a3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #a07878;
    --foreground: rgb(255, 255, 255);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.4rem;
  text-align: center;

}
.demo-center {
  display: flex;
}
.h1-3d {
  font-family: 'Times New Roman', Times, serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8), 4px 4px 6px rgba(0, 0, 0, 0.5);
  transform: perspective(500px) rotateX(0deg) rotateY(0deg);
  animation: fadeIn 2s ease-in-out;
  font-size: 5rem;
}
.h2-subtitle {
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 0.1rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  animation: fadeIn 2.5s ease-in-out;
}
.top-right {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

@keyframes fadeIn {
  0%{
    opacity: 0;
    transform: perspective(500px) rotateX(10deg) rotateY(10deg) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: perspective(500px) rotateX(0deg) rotateY(0deg) scale(1);
  }
}
@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}
@keyframes blink {
  from, to { border-color: transparent; }
  50% { border-color: black; }
}
.type-in {
  font-family: 'Times New Roman', Times, serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8), 4px 4px 6px rgba(0, 0, 0, 0.5);
  font-size: 5rem;
  overflow: hidden; /* Ensures the text is hidden until typed */
  white-space: nowrap; /* Prevents the text from wrapping */
  border-right: 0.05em solid black; /* Creates the cursor effect */
  animation: typing 3.5s steps(var(--steps,40), end), blink 0.75s step-end infinite;
  text-align: center;
  margin: 0;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}